{{#bs-modal show=isChangePasswordOpen onHidden=(action "clearPassword") as |modal|}}
  <form {{action "changePassword" on="submit"}}>
    {{#modal.header}}
      <h5 class="modal-title">Change Password</h5>
      <button {{action modal.actions.hide}} type="button" class="close" aria-label="Close">
        {{entypo-icon "cross"}}
      </button>
    {{/modal.header}}

    {{#modal.body}}
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="name">Email Address</label>
            {{input type="email" autocomplete="username email" class="form-control" value=model.email disabled=true}}
          </div>
          <div class="form-group">
            <label for="name">New Password</label>
            {{input type="password" required=true minlength="6" autocomplete="new-password" class="form-control" value=password.value placeholder="Must be a minimum length of six characters"}}
          </div>
          <div class="form-group">
            <label for="name">Confirm Password</label>
            {{input type="password" required=true minlength="6" autocomplete="new-password" class="form-control" value=password.confirm placeholder="Confirm the password from above"}}
          </div>
          {{#if (eq canChangePassword false)}}
            <small class="text-info">In order to save, {{ reasonForPreventChange }}</small>
          {{/if}}
        </div>
      </div>
    {{/modal.body}}

    {{#modal.footer}}
      <button class="btn btn-success" type="submit" disabled={{eq canChangePassword false}}>
        {{entypo-icon "check"}} Change
      </button>
    {{/modal.footer}}
  </form>
{{/bs-modal}}
