<label class="mb-0">{{ label }}</label><br>
<div class="input-group mt-1 mb-2">
  {{form-select options=matchOptions value=matchType onChange=(action "setMatchType")}}
  <span class="input-group-append">
    <button class="btn btn-sm btn-outline-danger" {{action "destroy"}}>
      {{entypo-icon "circle-with-cross" class="mx-1"}}
    </button>
  </span>
</div>

{{#power-select-multiple-with-create
  dropdownClass=dropdownClass
  triggerClass=triggerClass
  selected=terms
  searchMessage="Begin typing to create"
  oncreate=(action "addTerm")
  onchange=(action "changeTerms")
  placeholder="Enter values..." as |term|
}}
  {{term}}
{{/power-select-multiple-with-create}}

