{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item active=true}}{{entypo-icon "video-camera"}} Videos{{/crumbs.item}}
{{/nav-breadcrumbs}}

<div class="row">
  <div class="col">
    <div class="card list-index">
      <div class="card-header"></div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col-12 col-lg-7">
                {{list-controls/search
                  phrase=searchPhrase
                  fields=searchFields
                  searchBy=searchField
                  onSubmit=(action "search")
                }}
              </div>

              <div class="col-12 col-lg-5 mt-3 mt-lg-0">
                {{!-- Fix menu alignment, once https://github.com/twbs/bootstrap/pull/26255 is merged --}}
                <div class="btn-toolbar float-md-right" role="toolbar" aria-label="Filter Toolbar">
                  {{list-controls/sort
                    class="mr-2"
                    options=sortOptions
                    ascending=ascending
                    sortBy=sortField
                    disabled=isSortDisabled
                    alignment="right"
                  }}
                  {{list-controls/limit options=limitOptions limit=limit alignment="right"}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{#fetch-more-offset
        query=observable
        nodes=model.nodes
        hasNextPage=model.pageInfo.hasNextPage
        nextOffset=model.pageInfo.nextOffset
        on-fetch-start=(route-action "showLoading")
        on-fetch-end=(route-action "hideLoading")
        resultKey=resultKey as |fetch|
      }}
        <ul class="list-group list-group-flush">
          <li class="list-group-item pt-0"><h5 class="mb-0 text-muted">Total Results: {{model.totalCount}}</h5></li>
          {{#each fetch.nodes as |item|}}
            {{partial "video/list-item"}}
          {{/each}}
        </ul>

        <div class="card-footer border-0">
          {{#if fetch.hasNextPage}}
            <button class="btn btn-primary btn-lg" disabled={{fetch.isFetching}} {{action fetch.actions.loadMore}}>
              {{entypo-icon "download"}} {{#if fetch.isFetching}}Loading...{{else}}Load More{{/if}}
            </button>
          {{/if}}
        </div>
      {{/fetch-more-offset}}

    </div>
  </div>
</div>
