{{#link-to
  "customer.list.gam-advertisers.link" item.id
  class="list-group-item list-group-item-action flex-column align-items-start"
}}
  <div class="d-flex w-100 justify-content-between">
    <h4 class="mb-1">{{item.name}}</h4>
    {{#if item.lastModifiedDateTime}}
      <small>{{entypo-icon "clock "}} Updated {{moment-format item.lastModifiedDateTime "MMM Do, YYYY h:mm a"}}</small>
    {{/if}}
  </div>

  {{#if item.customer.id}}
    <p class="my-1">
      Customer: <span>{{ item.customer.name }}</span>
    </p>
  {{/if}}

  <small>ID: {{item.id}}</small>
{{/link-to}}
