<li class="list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <div>
      <h4 class="mb-1">{{item.givenName}} {{item.familyName}} [{{#link-to "identity.view" item.id}}view{{/link-to}}]</h4>
      <div class="mb-1">{{item.emailAddress}}</div>

      {{#if item.externalSource.identifier}}
        <small class="d-block mb-1">From {{item.externalSource.namespace}}: {{item.externalSource.identifier}}</small>
      {{/if}}
      <small class="d-block">ID: {{item.id}}</small>
    </div>

    <div class="d-flex flex-column text-right">
      {{#if item.updatedAt}}
        <small>{{entypo-icon "clock"}} Updated {{moment-format item.updatedAt "MMM Do, YYYY h:mm a"}}</small>
      {{/if}}
      {{#if user.isAdmin}}
        <p class="card-text mt-3 mb-1">
          {{identity-card/badge inactive=item.inactive domainExcluded=item.domainExcluded}}
        </p>
        <div class="dropup align-self-end">
          <button class="btn btn-info dropdown-toggle" disabled={{item.domainExcluded}} type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{entypo-icon "cog"}}
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            {{log (or item.domainExcluded item.inactive)}}
            {{identity-card/action
              labelSuffix="Globally"
              inactive=(or item.domainExcluded item.inactive)
              on-click=(action "toggleGlobalActivation" item)
            }}
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</li>
