{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item}}{{#link-to "identity.index"}}{{entypo-icon "users"}} Leads{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item active=true}}{{ model.emailAddress }}{{/crumbs.item}}
{{/nav-breadcrumbs}}


<div class="card model-form">
  <div class="card-header">
  </div>
  <div class="card-body">
    <div class="row">
      {{identity-card identity=model fullWidth=true canEdit=true}}
    </div>
    <p class="mb-0 mt-3">
      <span class="font-weight-bold">Last Retrieved:</span>
      {{#if model.lastRetrievedAt}}
        {{moment-format model.lastRetrievedAt "MMM Do, YYYY @ h:mm a"}}
        ({{moment-from-now model.lastRetrievedAt}})
      {{else}}
        Never
      {{/if}}
    </p>
    <small>{{model.entity}}</small>
  </div>

  <div class="card-footer">
    <button class="btn btn-primary" disabled={{isRefreshing}} {{action "refresh" model.id}}>
      {{entypo-icon "cycle"}} Refresh Data
    </button>
  </div>
</div>
