<div class="card-body">
  <h5 class="card-title mb-0">
    {{#if model.entries.totalCount}}
      Found {{model.entries.totalCount}} Record{{#if (gt model.entries.totalCount 1)}}s{{/if}}
    {{else}}
      No Records Found
    {{/if}}
  </h5>

  {{#fetch-more
    query=observable
    edges=model.entries.edges
    hasNextPage=model.entries.pageInfo.hasNextPage
    endCursor=model.entries.pageInfo.endCursor
    on-fetch-start=(action showLoading)
    on-fetch-end=(action hideLoading)
    resultKey="form"
    applyToField="entries" as |fetch|
  }}
    <div class="row mt-3">
      {{#each fetch.nodes as |node|}}
        {{form-entry-card entry=node form=model canEdit=true class="mb-3"}}
      {{/each}}
    </div>
    {{#if fetch.hasNextPage}}
      <button class="btn btn-primary btn-block btn-lg" disabled={{fetch.isFetching}} {{action fetch.actions.loadMore}}>
        {{entypo-icon "download"}} {{#if fetch.isFetching}}Loading...{{else}}Load More{{/if}}
      </button>
    {{/if}}
  {{/fetch-more}}
</div>
