{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item active=true}}{{entypo-icon "pie-chart"}} Campaign Metrics{{/crumbs.item}}
{{/nav-breadcrumbs}}

<div class="row">
  <div class="col">
    <div class="card list-index">
      <div class="card-header"></div>
      <div class="card-body">
        {{partial "list-controls-no-search"}}
        {{#if filtersOpen}}
          <div class="row mt-3">
            <div class="col-lg-6"></div>
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header font-weight-bold">Filters</div>
                <div class="card-body">
                  <div class="form-group">
                    <label for="filter.customers">Customer(s)</label>
                    {{type-ahead
                      placeholder="Begin typing to find a customer..."
                      type="customer"
                      multiple=true
                      selected=customers
                      disabled=routeLoading
                      onChange=(action "setCustomers")
                    }}
                  </div>

                  <div class="form-group">
                    <label for="filter.sales-reps">Sales Rep(s)</label>
                    {{#type-ahead
                      placeholder="Begin typing to find a user..."
                      type="user"
                      field="givenName"
                      multiple=true
                      selected=users
                      disabled=routeLoading
                      onChange=(action "setSalesReps")
                      as |user|
                    }}
                      {{user.givenName}} {{user.familyName}}
                    {{/type-ahead}}
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        {{filters/date-range
                          label="Date Range"
                          start=internalRange.start
                          end=internalRange.end
                          disabled=routeLoading
                          canClear=false
                          onChange=(action "setRange")
                        }}
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <div class="custom-control custom-checkbox">
                          {{input type="checkbox" checked=mustHaveEmailDeployments class="custom-control-input" id="must-have-email-deployments" change=(action "setMustHaveEmailDeployments")}}
                          <label class="custom-control-label" for="must-have-email-deployments">Campaigns must have email deployments</label>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="card-footer d-flex justify-content-end">
                  <button class="btn btn-primary" disabled={{clearButtonDisabled}} {{action "clearFilters"}}>Reset All</button>
                </div>
              </div>
            </div>
          </div>
        {{/if}}
      </div>

      {{#fetch-more
        query=observable
        edges=model.edges
        hasNextPage=model.pageInfo.hasNextPage
        endCursor=model.pageInfo.endCursor
        on-fetch-start=(route-action "showLoading")
        on-fetch-end=(route-action "hideLoading")
        resultKey=resultKey as |fetch|
      }}
        <ul class="list-group list-group-flush">
          <li class="list-group-item pt-0"><h5 class="mb-0 text-muted">Total Results: {{model.totalCount}}</h5></li>
          {{#each fetch.nodes as |item|}}
            {{email-campaign/metrics-list-item item=item starting=rangeStart ending=rangeEnd displayAdditionalColumns=displayAdditionalColumns}}
          {{/each}}
        </ul>

        <div class="card-footer border-0">
          {{#if fetch.hasNextPage}}
            <button class="btn btn-primary btn-lg" disabled={{fetch.isFetching}} {{action fetch.actions.loadMore}}>
              {{entypo-icon "download"}} {{#if fetch.isFetching}}Loading...{{else}}Load More{{/if}}
            </button>
          {{/if}}
        </div>

      {{/fetch-more}}

    </div>
  </div>
</div>
