<div class="card-body">
  <h4 class="card-title mb-0">Criteria</h4>
  {{#each model.criteria as |criteria|}}
    <ul class="list-group mt-3">
      <li class="list-group-item text-primary font-weight-bold h5 d-flex justify-content-between align-items-center">
        Group: {{criteria.type}}
        <span class="badge badge-info badge-pill">{{criteria.items.length}}</span>
      </li>
      {{#each criteria.items as |item|}}
        <li class="list-group-item">
          <span class="font-weight-bold">{{item.name}}</span> <span class="text-muted">[{{item.id}}]</span>
        </li>
      {{/each}}
    </ul>
  {{/each}}
</div>
<div class="card-footer d-flex justify-content-between">
  {{behavior/test-query-button class="btn-info btn-lg" model=model}}

  <div class="btn-group btn pr-0">
    {{#link-to "behavior.edit" model.id class="btn btn-warning" disabled=loadingDisplay.isShowing}}
      {{entypo-icon "pencil"}} Edit
    {{/link-to}}
  </div>
</div>
