{{#link-to
  "behavior.view.results.rows" item.id
  class="list-group-item list-group-item-action flex-column align-items-start"
}}
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-0">
      {{moment-format item.startDate "MMM D, YYYY"}} - {{moment-format item.endDate "MMM D, YYYY"}}
    </h5>
    <div class="text-right">
      {{#if item.ranAt}}
        <small class="d-block" title={{moment-format item.ranAt "MMM Do, YYYY h:mm a"}}>
          {{entypo-icon "clock"}} Ran {{moment-from-now item.ranAt}}
        </small>
      {{/if}}
      <small class="d-block" title="{{item.ranBy.email}}">
        {{entypo-icon "user"}} {{item.ranBy.givenName}} {{item.ranBy.familyName}}
      </small>
    </div>
  </div>

  <p class="mb-1">Identities Found: {{format-number item.identityCount "0,0"}}</p>
  <small class="d-block">ID: {{item.id}}</small>

{{/link-to}}
