{{#fetch-more
  query=observable
  edges=model.edges
  hasNextPage=model.pageInfo.hasNextPage
  endCursor=model.pageInfo.endCursor
  on-fetch-start=(route-action "showLoading")
  on-fetch-end=(route-action "hideLoading")
  resultKey="emailLineItemIdentityExportReport" as |fetch|
}}
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><h5 class="mb-0 text-muted">Total Results: {{model.totalCount}}</h5></li>
  </ul>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm table-striped mb-0">
        <thead>
          <tr>
            <th>#</th>
            {{#each fields as |field|}}
              <th>
                <span>{{ field.label }}</span>
                {{lead-report/tables/sort-field key=field.key sortBy=sortBy ascending=ascending}}
              </th>
            {{/each}}
            <th>URLs</th>
            <th>Deployments</th>
          </tr>
        </thead>
        <tbody>
          {{#each fetch.nodes as |item index|}}
            <tr>
              <td>{{add index 1}}</td>
              {{#each fields as |field|}}
                <td>{{get item.identity field.key}}</td>
              {{/each}}
              <td class="pt-0">
                {{#each item.urls as |url|}}
                  <p class="mb-0 mt-1">{{url.values.resolved}}</p>
                {{/each}}
              </td>
              <td class="pt-0">
                {{#each item.sends as |send|}}
                  <p class="mb-0 mt-1">{{send.name}} (Sent {{moment-format send.sentDate "MMM Do, YYYY @ h:mma"}})</p>
                {{/each}}
              </td>
            </tr>
          {{else}}
            <tr>
              <td colspan={{add fields.length 3}} class="text-center">No leads found.</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  {{#if fetch.hasNextPage}}
    <div class="card-footer border-0">
      <button class="btn btn-primary btn-lg" disabled={{fetch.isFetching}} {{action fetch.actions.loadMore}}>
        {{entypo-icon "download"}} {{#if fetch.isFetching}}Loading...{{else}}Load More{{/if}}
      </button>
    </div>
  {{/if}}
{{/fetch-more}}
