{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item}}{{#link-to "order.index"}}{{entypo-icon "credit"}} Orders{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item active=true}}Create New{{/crumbs.item}}
{{/nav-breadcrumbs}}

{{beta-feature}}

<form {{action (route-action "create" model) on="submit"}}>
  <div class="card model-form">
    <div class="card-header"></div>
    <div class="card-body">
      {{ partial "order/form" }}
    </div>
    <div class="card-footer">
      {{model-save-button disabled=isActionRunning}}
      {{required-field-desc class="mb-0 ml-2" tagName="span"}}
    </div>
  </div>
</form>
