<div class="row">

  <div class="col-lg-6">
    <div class="form-group">
      <label>Customer {{required-field-label}}</label>
      {{type-ahead
        placeholder="Begin typing to find a customer..."
        type="customer"
        selected=model.customer
        allowClear=false
        onChange=(action (mut model.customer))
      }}
      <small class="form-text text-muted">The customer to assign to this order.</small>
      {{#if model.customer.children.length}}
        <small class="form-text text-muted">
          {{model.customer.name}} also includes the following companies:
          {{#each model.customer.children as |child|}}
            {{child.name}}
          {{/each}}
        </small>
      {{/if}}
    </div>
  </div>

  <div class="col-lg-6">
    <div class="form-group">
      <label for="order-name">Order Name {{required-field-label}}</label>
      {{input type="text" required=true value=model.name class="form-control" id="order-name" aria-describedby="order-name-help"}}
      <small id="order-name-help" class="form-text text-muted hide">The order name - should be descriptive. Appears on dashboard and reports.</small>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="form-group">
      <label>Sales Rep {{required-field-label}}</label>
      {{#type-ahead
        placeholder="Begin typing to find a user..."
        type="user"
        field="givenName"
        selected=model.salesRep
        allowClear=false
        onChange=(action (mut model.salesRep))
        as |user|
      }}
        {{user.givenName}} {{user.familyName}}
      {{/type-ahead}}
      <small class="form-text text-muted">The sales representative for the order.</small>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="form-group">
      <label for="order-notes">Notes</label>
      {{textarea value=model.notes rows="3" class="form-control" id="order-notes" aria-describedby="order-notes-help"}}
      <small id="order-notes-help" class="form-text text-muted">Additional information about this order.</small>
    </div>
  </div>
</div>
