<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>Customer {{required-field-label}}</label>
      {{type-ahead
        dropdownClass="in-modal-dropdown"
        placeholder="Begin typing to find a customer..."
        type="customer"
        selected=model.customer
        allowClear=false
        onChange=(action (mut model.customer))
      }}
      <small class="form-text text-muted">Required. The customer to assign to this tracker.</small>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Tags</label>
      {{type-ahead
        dropdownClass="in-modal-dropdown"
        placeholder="Begin typing to find a tag..."
        type="tag"
        multiple=true
        selected=model.tags
        allowClear=false
        onChange=(action (mut model.tags))
      }}
      <small class="form-text text-muted">Optional. Tags to assign to this tracker.</small>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="ad-creative-tracker-url">URL {{required-field-label}}</label>
      {{input type="url" class="form-control" required=true id="ad-creative-tracker-url" value=model.url}}
      <small class="form-text text-muted">Required. The redirect URL.</small>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-group mb-0">
      <label for="ad-creative-tracker-description">Description / Notes</label>
      {{textarea class="form-control" id="ad-creative-tracker-description" value=model.description}}
      <small class="form-text text-muted">Optional. A description or additional notes for this tracker</small>
    </div>
  </div>
</div>