{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item}}{{#link-to "user.index"}}{{entypo-icon "user"}} Users{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item active=true}}Create New{{/crumbs.item}}
{{/nav-breadcrumbs}}

<form {{action (route-action "create" model) on="submit"}}>
  <div class="card model-form">
    <div class="card-header"></div>
    <div class="card-body">
      {{ partial "user/form" }}

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group mb-3 mb-sm-0">
            <label for="password">Password</label>
            {{input type="password" required="true" minlength="6" autocomplete="new-password" value=model.password class="form-control" id="password" placeholder="Password"}}
            <small class="form-text text-muted">Must be at least six characters long.</small>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group mb-0">
            <label for="confirmPassword">Confirm Password</label>
            {{input type="password" required="true" minlength="6" autocomplete="new-password" value=model.confirmPassword class="form-control" id="confirmPassword" placeholder="Confirm Password"}}
            <small class="form-text text-muted">Must match the inputted password.</small>
          </div>
        </div>
      </div>

    </div>
    <div class="card-footer">
      {{model-save-button disabled=isActionRunning}}
    </div>
  </div>
</form>
