<div class="card list-index">
  {{ partial "link/tracking/navigation" }}
  <div class="card-body">
    <div class="form-group mb-0">
      {{textarea
        rows="5"
        class="form-control"
        value=html
        id="html"
        aria-describedby="htmlHelp"
        paste=(action "handlePaste")
        focusIn=(action "selectAll")
        disabled=processing
      }}
      <small id="htmlHelp" class="form-text">Paste HTML to process and track links.</small>
    </div>
  </div>

  <div class="card-footer d-flex justify-content-between align-items-center">
    <div>
      <button class="btn btn-lg btn-success" disabled={{eq canProcess false}} {{action "process"}}>
        {{entypo-icon "upload-to-cloud"}} Process
      </button>
      <button class="btn btn-lg btn-warning" disabled={{eq canProcess false}} {{action "clear"}}>
        {{entypo-icon "cross"}} Clear
      </button>
    </div>
  </div>
</div>


{{#if trackedResult}}
  <h4 class="mt-4">Tracked HTML</h4>
  {{#if this.useNewTracking}}
    <div class="alert alert-info">
      Note: this HTML was tracked using the <strong>new</strong> tracking method.
    </div>
  {{/if}}
  <div class="form-group">
    {{textarea
      rows="8"
      class="form-control"
      value=trackedResult
      id="trackedHtml"
      aria-describedby="trackedHtmlHelp"
      readonly=true
      focusIn=(action "selectAll")
      disabled=processing
    }}
    <small id="trackedHtmlHelp" class="form-text">Copy this HTML and place in your email client.</small>
  </div>
{{else}}
  {{#if hasFinished}}

    <h4 class="pl-3 mt-4">{{#if results.length}}Found {{results.length}} Link(s){{else}}No links found.{{/if}}</h4>
    {{#each results as |url|}}
      {{extracted-url url=url}}
    {{/each}}


    {{#if results.length}}
      <div class="d-flex justify-content-between align-items-center w-100">
        <button class="btn btn-lg btn-success" {{action "createTrackedHtml" true}}>
          {{entypo-icon "edit"}} Generate HTML
        </button>
      </div>

    {{/if}}

  {{/if}}
{{/if}}
