{{progress-bar class="progress-md" show=isLoading}}
{{#bs-modal/body}}
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label>Gather leads from the following email categories...</label>
        {{#type-ahead
          placeholder="Begin typing to find a category... e.g. ien or blasts"
          type="email-category"
          multiple=true
          dropdownClass="in-modal-dropdown"
          field="fullName"
          selected=model.categories
          onChange=(action "setCategories")
          closeOnSelect=false as |category|
        }}
          {{category.fullName}}
        {{/type-ahead}}
        <small class="form-text text-muted">Leaving empty will pull from <em>all</em> deployments. Individual email sends and links can be excluded later.</small>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label>Where links are tagged with...</label>
        {{type-ahead
          placeholder="Begin typing to find a tag... e.g. pr or video"
          type="tag"
          multiple=true
          dropdownClass="in-modal-dropdown"
          selected=model.tags
          onChange=(action "setTags")
        }}
        <small class="form-text text-muted">Leave empty to include all links.</small>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label>Exclude links that are tagged with...</label>
        {{type-ahead
          placeholder="Begin typing to find a tag... e.g. pr or video"
          type="tag"
          multiple=true
          dropdownClass="in-modal-dropdown"
          selected=model.excludedTags
          onChange=(action "setExcludedTags")
        }}
        <small class="form-text text-muted">Leave empty to include all links.</small>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="form-group mb-0">
        {{line-item/link-types
          dropdownClass="in-modal-dropdown"
          linkTypes=model.linkTypes
          onChange=(action "setLinkTypes")
        }}
      </div>
    </div>
  </div>

  {{line-item-links lineItemId=model.id isActionRunning=isActionRunning}}
{{/bs-modal/body}}
