<div class="card-body">
  <div class="form-group">
    {{#power-select
      placeholder="Select criteria type..."
      options=types
      selected=model.type
      searchEnabled=false
      onchange=(action "setType") as |type|}}
      {{type}}
    {{/power-select}}
  </div>

  <div class="form-group">
    {{#auto-complete
      placeholder="Begin typing to search..."
      on-search=(action "search")
      multiple=true
      closeOnSelect=false
      disabled=searchDisabled
      selected=model.items as |item|
    }}

      {{#if (eq model.type "Taxonomy")}}
        <span class="font-weight-bold">{{item.name}}</span> ({{item.type}}) <span class="text-muted">[{{item.id}}]</span>
      {{/if}}
      {{#if (eq model.type "Section")}}
        <span class="font-weight-bold">{{item.name}}</span> ({{item.alias}}) <span class="text-muted">[{{item.id}}]</span>
      {{/if}}
      {{#if (eq model.type "Company")}}
        <span class="font-weight-bold">{{item.name}}</span> <span class="text-muted">[{{item.id}}]</span>
      {{/if}}

    {{/auto-complete}}
    <small class="form-text text-muted">All selections in this group are treated as "ORs."</small>
  </div>

  {{confirm-button
    icon="cross"
    label="Remove"
    class="btn-danger"
    disabled=loadingDisplay.isShowing
    onConfirm=(action destroy)
  }}

</div>
