<div class="card-header bg-light font-weight-bold">
  {{input
    id=inputId
    type="checkbox"
    class="mr-1"
    checked=isDeploymentActive
    disabled=disabled
    change=(action "toggleDeploymentGroupActive")
  }}
  <label class="form-check-label" for={{inputId}}>
    {{deployment.name}}
    [{{deployment.typeDescription}}]
  </label>
</div>
<div class="card-body pt-0">
  <p class="mb-0 mt-3">
    Sent on
    {{moment-format deployment.sentDate "ddd, MMM Do, YYYY @ h:mma"}}
    to
    {{format-number deployment.metrics.sent "0,0"}} subscribers.
  </p>
</div>
