<div class="card-header">
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        {{input
          type="checkbox"
          checked=isUrlActive
          disabled=disabled
          change=(action "toggleUrlGroupActive")
        }}
      </div>
    </div>
    <input type="text" readonly class="form-control" value={{urlGroup.url.values.resolved}} aria-label="Text input with checkbox">
    <div class="input-group-append">
      <a class="btn btn-info" role="button" title="View Link in New Window" target="_blank" rel="noopener noreferer" href={{urlGroup.url.values.resolved}}>{{entypo-icon "eye"}}</a>
    </div>
  </div>
</div>


<div class="card-body pt-0">
  {{#each urlGroup.deploymentGroups as |deploymentGroup|}}
    {{email-campaign/deployment-group
      class="mt-3"
      urlId=urlGroup.url.id
      deploymentGroup=deploymentGroup
      disabled=disabled
      on-change=(action "sendChange")
    }}
  {{/each}}
</div>


<div class="card-footer"></div>
