{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item}}{{#link-to "campaign.index"}}{{entypo-icon "calendar"}} Campaigns{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item active=true}}{{ model.fullName }}{{/crumbs.item}}
{{/nav-breadcrumbs}}

<div class="row mb-5">
  <div class="col">
    <div class="card model-form">
      <div class="card-header">
        <ul class="nav nav-pills card-header-pills" role="tablist">
          <li class="nav-item">{{#link-to "campaign.edit.index" class="nav-link" role="tab"}}Details{{/link-to}}</li>
          <li class="nav-item">{{#link-to "campaign.edit.email" class="nav-link" role="tab"}}Email{{/link-to}}</li>
          <li class="nav-item">{{#link-to "campaign.edit.forms" class="nav-link" role="tab"}}Forms{{/link-to}}</li>
          <li class="nav-item">{{#link-to "campaign.edit.ads" class="nav-link" role="tab"}}Ads{{/link-to}}</li>
          <li class="nav-item">{{#link-to "campaign.edit.ad-metrics" class="nav-link" role="tab"}}Ad Metrics{{/link-to}}</li>
          <li class="nav-item">{{#link-to "campaign.edit.video-metrics" class="nav-link" role="tab"}}Video Metrics{{/link-to}}</li>
        </ul>
      </div>
      {{outlet}}
    </div>
  </div>
</div>

<button class="btn btn-lg btn-info create fixed-bottom float-right" title="View Report" {{action (route-action "transitionToReport" model.hash)}}>
  {{entypo-icon "pie-chart"}} Report
</button>
