{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item active=true}}{{entypo-icon "calendar"}} Campaigns{{/crumbs.item}}
{{/nav-breadcrumbs}}

<div class="row">
  <div class="col">
    <div class="card list-index">
      <div class="card-header"></div>
      <div class="card-body">
        {{partial "list-controls"}}
        {{#if filtersOpen}}
          <div class="row mt-3">
            <div class="col-lg-6"></div>
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header font-weight-bold">Filters</div>
                <div class="card-body">
                  <div class="form-group">
                    <label for="filter.customers">Customer(s)</label>
                    {{type-ahead
                      placeholder="Begin typing to find a customer..."
                      type="customer"
                      multiple=true
                      selected=customers
                      disabled=routeLoading
                      onChange=(action "setCustomers")
                    }}
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        {{filters/date-range
                          label="Starting Between"
                          start=starting.start
                          end=starting.end
                          disabled=routeLoading
                          onChange=(action "setStartingRange")
                        }}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        {{filters/date-range
                          label="Ending Between"
                          start=ending.start
                          end=ending.end
                          disabled=routeLoading
                          onChange=(action "setEndingRange")
                        }}
                      </div>
                    </div>
                  </div>

                </div>
                <div class="card-footer d-flex justify-content-end">
                  <button class="btn btn-primary" disabled={{clearButtonDisabled}} {{action "clearFilters"}}>Clear All</button>
                </div>
              </div>
            </div>
          </div>
        {{/if}}
      </div>

      {{#fetch-more
        query=observable
        edges=model.edges
        hasNextPage=model.pageInfo.hasNextPage
        endCursor=model.pageInfo.endCursor
        on-fetch-start=(route-action "showLoading")
        on-fetch-end=(route-action "hideLoading")
        resultKey=resultKey as |fetch|
      }}
        <ul class="list-group list-group-flush">
          <li class="list-group-item pt-0"><h5 class="mb-0 text-muted">Total Results: {{model.totalCount}}</h5></li>
          {{#each fetch.nodes as |item|}}
            {{partial "campaign/list-item"}}
          {{/each}}
        </ul>

        <div class="card-footer border-0">
          {{#if fetch.hasNextPage}}
            <button class="btn btn-primary btn-lg" disabled={{fetch.isFetching}} {{action fetch.actions.loadMore}}>
              {{entypo-icon "download"}} {{#if fetch.isFetching}}Loading...{{else}}Load More{{/if}}
            </button>
          {{/if}}
        </div>

      {{/fetch-more}}

    </div>
  </div>
</div>

{{model-create-button icon="calendar" title="Create Campaign" click=(route-action "transitionTo" "campaign.create")}}
