<div class="card mb-4">
  <div class="card-header">
    <h4>
      {{#if (eq item.type "email")}}
        {{entypo-icon "mail"}}
      {{else if (eq item.type "form")}}
        {{entypo-icon "text-document"}}
      {{/if}}
      {{item.order.customer.name}}
      &ndash;
      {{#link-to "order.edit" item.order.id}}{{item.order.name}}{{/link-to}}
      &ndash;
      {{#link-to (concat "order.edit.line-items." item.type ".edit") item.order.id item.id}}{{item.name}}{{/link-to}}
    </h4>
  </div>
  <div class="card-body">
    <div class="mb-3">
      <h5 class="mb-2">
        {{line-item-status status=item.status}}
      </h5>
      <p>Rep: {{item.order.salesRep.givenName}} {{item.order.salesRep.familyName}}</p>

      {{line-item-date futureLabel="Starts" pastLabel="Started" date=item.range.start}}
      {{line-item-date class="mb-2" futureLabel="Ends" pastLabel="Ended" date=item.range.end}}
    </div>
    {{#line-item-progress class="row" lineItemId=item.id as |progress|}}
      <div class="col-sm-6 col-xl-3 mb-4">
        {{dashboard/data-card
          icon="hair-cross"
          title="Goal"
          format="0,0"
          value=item.requiredLeads
          color="primary"
        }}
      </div>
      <div class="col-sm-6 col-xl-3 mb-4">
        {{dashboard/data-card
          icon="credit"
          title="Value"
          value=item.totalValue
          format="$0,0.[00]"
          secondaryValue=item.cpl
          secondaryFormat="$0,0.[00]"
          secondarySuffix="CPL"
          color="info"
        }}
      </div>
      <div class="col-sm-6 col-xl-3 mb-4">
        {{dashboard/fulfilled-leads
          isLoading=progress.isActionRunning
          rate=progress.qualified.rate
          total=progress.qualified.total
          pacing=progress.pacing
        }}
      </div>
      <div class="col-sm-6 col-xl-3 mb-4">
        {{dashboard/data-card
          isLoading=progress.isActionRunning
          icon="block"
          title="Avg. Scrub Rate"
          format="0.[0]%"
          secondaryFormat="0,0"
          value=progress.scrubbed.rate
          secondaryValue=progress.scrubbed.total
          secondarySuffix="Leads"
          color="warning"
        }}
      </div>
    {{/line-item-progress}}
    <p class="mb-0 text-muted">
      Notes: {{#if item.notes}}{{item.notes}}{{else}}(none){{/if}}
    </p>
  </div>
  <div class="card-footer d-flex justify-content-between">
    {{#link-to (concat "reports.line-items." item.type) item.hash class="btn btn-info" role="button"}}
      {{entypo-icon "pie-chart"}} Report
    {{/link-to}}

    <div class="custom-control custom-checkbox">
      {{confirm-button
        icon="archive"
        label=(if item.archived "Unarchive" "Archive")
        class="btn-danger"
        disabled=isActionRunning
        onConfirm=(route-action "toggleLineItemArchive" item.id item.archived)
      }}
    </div>
  </div>
</div>
