<div class="card-body">
  <h5 class="card-title">Subject: {{ model.subject }}</h5>

  {{#if model.sentDate}}
    <p class="mb-1">
      <strong>Sent:</strong> {{moment-format model.sentDate "MMM Do, YYYY @ h:mm a"}}
    </p>
  {{/if}}

  <p class="mb-1"><strong>Splits Sent:</strong> {{model.splitCount}}</p>
  <p class="mb-1"><strong>Designation:</strong> {{model.designation}}</p>
  <p class="mb-3"><strong>Deployment Type:</strong> {{model.typeDescription}}</p>
  <h5 class="card-title">Metrics</h5>
  <table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th>Sent</th>
        <th>Delivered</th>
        <th>Delivery Rate</th>
        <th>Unique Opens</th>
        <th>Unique Clicks</th>
        <th>Open Rate</th>
        <th>Click Rate (O / D)</th>
        <th>Unsubs</th>
        <th>Bounces</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ format-number model.metrics.sent format="0,0" }}</td>
        <td>{{ format-number model.metrics.delivered format="0,0" }}</td>
        <td>{{ format-number model.metrics.deliveryRate format="00.0%" }}</td>
        <td>{{ format-number model.metrics.uniqueOpens format="0,0" }}</td>
        <td>{{ format-number model.metrics.uniqueClicks format="0,0" }}</td>
        <td>{{ format-number model.metrics.openRate format="00.0%" }}</td>
        <td>{{ format-number model.metrics.clickToOpenRate format="00.0%" }} / {{ format-number model.metrics.clickToDeliveredRate format="00.0%" }}</td>
        <td>{{ format-number model.metrics.unsubscribes format="0,0" }}</td>
        <td>{{ format-number model.metrics.bounces format="0,0" }}</td>
      </tr>
    </tbody>
  </table>
  <p class="mb-0">
    <span class="font-weight-bold">Last Retrieved:</span>
    {{#if model.lastRetrievedAt}}
      {{moment-format model.lastRetrievedAt "MMM Do, YYYY @ h:mm a"}}
      ({{moment-from-now model.lastRetrievedAt}})
    {{else}}
      Never
    {{/if}}
  </p>
  <small>{{model.entity}}</small>
</div>
<div class="card-footer">
  {{!-- <button class="btn btn-primary" disabled={{isRefreshing}} {{action "refresh" model.id}}>
    {{entypo-icon "cycle"}} Refresh Data
  </button> --}}
</div>
