
{{#if isEditing}}
  <div class="card">
    <div class="card-body">
      <button {{action (mut isEditing) false}} type="button" class="close" aria-label="Close" style="margin-top: -8px;">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="form-group">
        <span class="d-block ml-1 mb-1">When the most recent click is</span>
        {{input
          class="form-control"
          disabled=disabled
          input=(action this.emitOnChange)
          min="0"
          required=true
          type="number"
          value=minutes
        }}
        <span class="d-block ml-1 mt-1">minutes after the sent time</span>
      </div>

      <div class="form-group">
        <span class="d-block ml-1 mb-1">Include clicks with unreal codes</span>
        {{click-filter/unreal-code-select
          disabled=disabled
          onChange=(action "setAllowedCodes")
          placeholder="(none)"
          selected=this.model.allowUnrealCodes
        }}
        <span class="d-block ml-1 mt-1">in campaign reports</span>
      </div>

      <div class="d-flex justify-content-end">
        <button {{action onRemove}} class="btn btn-danger mt-auto mb-auto" disabled={{disabled}} title="Remove this click filter rule" type="button">
          {{entypo-icon "trash"}} Delete
        </button>
      </div>
    </div>
  </div>
{{else}}
  <button {{action (mut isEditing) true}} class="card" type="button">
    <div class="card-body">
      <p class="mb-0 text-left">
        When the most recent click is <strong>{{minutes}}</strong> minutes after the sent time,
        {{#if this.model.allowUnrealCodes.length}}
          include clicks with unreal codes <strong>{{this.codesText}}</strong>
        {{else}}
          <strong>only</strong> include <strong>real</strong> clicks.
        {{/if}}
        in campaign reports.
      </p>
    </div>
  </button>
{{/if}}
  {{!--

  </div> --}}
