<div class="card">
  <div class="card-header">
  </div>
  <div class="card-body">
    <div class="form-group">
      <span class="d-block ml-1 mb-1">When the most recent click was</span>
      {{input
        class="form-control"
        disabled=disabled
        min="0"
        required=true
        type="number"
        value=minutes
      }}
      <span class="d-block ml-1 mt-1">minutes after the sent time</span>
    </div>

    <div class="form-group mb-0">
      <span class="d-block ml-1 mb-1">Include clicks with unreal codes</span>
      {{click-filter/unreal-code-select
        disabled=disabled
        onChange=(action "setAllowedCodes")
        placeholder="(none)"
        selected=this.model.allowUnrealCodes
      }}
      <span class="d-block ml-1 mt-1">in campaign reports</span>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <button {{action onRemove}} class="btn btn-danger mt-auto mb-auto" disabled={{disabled}} title="Remove this click filter rule" type="button">
      {{entypo-icon "cross"}} Remove
    </button>
  </div>
</div>
