{{#if displayClickFilterOptions}}
  <div class="row">
    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
      <form class="card mb-3" {{action "applyFilterRules" on="submit"}}>
        <div class="card-header">
          <strong>Test Click Filter Settings</strong>
        </div>
        <div class="card-body">
          <p class="card-text">
            Use these values for <em>testing purposes only</em>. Do not share the URL in the browser with advertisers.
          </p>
          {{#each this.model.clickFilterRules key="@index" as |rule index|}}
            {{click-filter/rule
              class="mb-4"
              model=rule
              onRemove=(action "removeFilterRule" index)
            }}
          {{/each}}
          <div>
            <button class="btn btn-primary" {{action "addNewFilterRule"}} type="button">
              {{entypo-icon "plus"}}
              Add Rule
            </button>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-end">
          <button class="btn btn-success" type="submit">
            {{entypo-icon "check"}}
            Apply
          </button>
        </div>
      </form>
    </div>
  </div>
{{/if}}
<div class="row mb-3">
  <div class="col">
    <p class="mb-0">
      {{lead-report-download action="campaign.emailLeads" hash=model.campaign.hash name="Email Leads"}}
    </p>
    <small class="text-muted">
      Note: Metrics reflect total clicks. Employee clicks for testing purposes and bad email addresses are removed from customer lead reports.
    </small>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
          <li class="nav-item">{{#link-to "lead-report.email.metrics" class="nav-link" role="tab"}}Metrics{{/link-to}}</li>
          <li class="nav-item">{{#link-to "lead-report.email.leads" class="nav-link" role="tab"}}Leads{{/link-to}}</li>
          <li class="nav-item">{{#link-to "lead-report.email.export" class="nav-link" role="tab"}}Lead Detail{{/link-to}}</li>
          <li class="nav-item">{{#link-to "lead-report.email.activity" class="nav-link" role="tab"}}Activity{{/link-to}}</li>
        </ul>
      </div>
      {{outlet}}
    </div>
  </div>
</div>
